.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: lightblue;
}

.Header a {
    text-decoration: none;
    color: coral;
}

.Header a:hover {
    color: purple;
}